<div id="wrapper">

    <!-- Content
    ============================================= -->
    <section id="content">
        <div class="content-wrap py-0">

            <div class="section p-0 m-0 h-100 position-absolute" style="background: url('images/parallax/home/12.jpg') center center no-repeat; background-size: cover;"></div>

            <div class="section bg-transparent min-vh-100 p-0 m-0">
                <div class="vertical-middle">
                    <div class="container-fluid py-5 mx-auto">
                        <div class="text-center">
                            <a href="index.html"><img src="images/logo-dark.png" alt="Canvas Logo"></a>
                        </div>

                        <div class="card mx-auto rounded-0 border-0" style="max-width: 400px; background-color: rgba(255,255,255,0.93);">
                            <div class="card-body" style="padding: 40px;">
                                <form id="login-form" name="login-form" class="mb-0" action="#" method="post">
                                    <h3>Login to your Account</h3>

                                    <div class="row">
                                        <div class="col-12 form-group">
                                            <label for="login-form-username">Username:</label>
                                            <input type="text" id="login-form-username" name="login-form-username" value="" class="form-control not-dark" data-bs-theme="light">
                                        </div>

                                        <div class="col-12 form-group">
                                            <label for="login-form-password">Password:</label>
                                            <input type="password" id="login-form-password" name="login-form-password" value="" class="form-control not-dark" data-bs-theme="light">
                                        </div>

                                        <div class="col-12 form-group">
                                            <div class="d-flex justify-content-between">
                                                <button class="button button-3d button-black m-0" id="login-form-submit" name="login-form-submit" value="login">Login</button>
                                                <a href="#">Forgot Password?</a>
                                            </div>
                                        </div>
                                    </div>
                                </form>

                                <div class="line line-sm"></div>

                                <div class="w-100 text-center">
                                    
                                </div>
                            </div>
                        </div>

                        <div class="text-center dark mt-3" data-bs-theme="dark"><small>Copyrights © All Rights Reserved by Canvas Inc.</small></div>
                    </div>
                </div>
            </div>

        </div>
    </section><!-- #content end -->

</div>