<section id="slider" class="slider-element min-vh-md-100 min-vh-75 include-header" >
    <div class="slider-inner skrollable skrollable-between" style="background-image: url(&quot;demos/jewellery-boutique/images/hero.jpg&quot;); background-position: 50% 50%; background-size: 102.678%;" data-0-top="background-size: 100%" data-top-bottom="background-size: 120%">
        <div class="container">

            <div class="vertical-middle">
                <div class="row mt-6">
                    <div class="col-md-5">
                        
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<section id="content">
    <div class="section border-top-0 m-0">
        <div class="container">

            <center>
                <div class="col-lg-6">
                    <h6 class="text-center" style="font-family: MaisonNeue;">Bir pırlantanın kendini ifadesi ilk bakışta, parıldayan silueti ve sihirli gücüyle savurgan bir hayal dünyasına kaçış gibi baştan çıkarır. Işığın yansıma ve pırıltısının pozitif enerjisi High Jewellery Koleksiyonu nun ultra-modern çizgileriyle sunuluyor. Sofistike ve lüks stili dinamik ve soyutla bütünleştiren sıra dışı tasarımlar arzulananın da ötesinde…  </h6>
    
                    <ul class="nav canvas-alt-tabs tabs-alt tabs-bb tabs nav-tabs justify-content-center gap-3 mb-3" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link d-flex align-items-center flex-md-column container-modules-loaded" data-bs-toggle="pill" data-bs-target="#tab-icons-2-home-bb" type="button" role="tab" aria-controls="canvas-home-bb" aria-selected="false" tabindex="-1"><i class="bi-house fs-2 m-0"></i><span class="d-block ms-3 ms-md-0">Home</span></button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link d-flex align-items-center flex-md-column container-modules-loaded" data-bs-toggle="pill" data-bs-target="#tab-icons-2-profile-bb" type="button" role="tab" aria-controls="canvas-profile-bb" aria-selected="false" tabindex="-1"><i class="bi-people fs-2 m-0"></i><span class="d-block ms-3 ms-md-0">Profile</span></button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link d-flex align-items-center flex-md-column container-modules-loaded active" data-bs-toggle="pill" data-bs-target="#tab-icons-2-contact-bb" type="button" role="tab" aria-controls="canvas-contact-bb" aria-selected="true"><i class="bi-envelope-plus fs-2 m-0"></i><span class="d-block ms-3 ms-md-0">Contact</span></button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link d-flex align-items-center flex-md-column container-modules-loaded" data-bs-toggle="pill" data-bs-target="#tab-icons-2-about-bb" type="button" role="tab" aria-controls="canvas-about-bb" aria-selected="false" tabindex="-1"><i class="bi-info-circle fs-2 m-0"></i><span class="d-block ms-3 ms-md-0">About</span></button>
                        </li>
                    </ul>
                    <div class="tab-content mt-4">
                        <div class="tab-pane fade" id="tab-icons-2-home-bb" role="tabpanel" aria-labelledby="canvas-home-bb-tab" tabindex="0">
                            <p>Raw </p>
                        </div>
                        <div class="tab-pane fade" id="tab-icons-2-profile-bb" role="tabpanel" aria-labelledby="canvas-profile-bb-tab" tabindex="0">
                            <p>Food </p>
                        </div>
                        <div class="tab-pane fade active show" id="tab-icons-2-contact-bb" role="tabpanel" aria-labelledby="canvas-contact-bb-tab" tabindex="0">
                            <p>Etsy </p>
                        </div>
                        <div class="tab-pane fade" id="tab-icons-2-about-bb" role="tabpanel" aria-labelledby="canvas-about-bb-tab" tabindex="0">
                            <p>Trust </p>
                        </div>
                    </div>
                </div>
            </center>

        </div>
    </div>
</section>

<section id="content">
    <div class="content-wrap">
        <div class="container">

            <!-- Shop
            ============================================= -->
            <div id="shop" class="shop row gutter-30">

                <div class="product col-md-4 col-sm-6 col-12">
                    <div class="grid-inner">
                        <div class="product-image">
                            <a href="#"><img src="images/shop/dress/1.jpg" alt="Checked Short Dress"></a>
                            <a href="#"><img src="images/shop/dress/1-1.jpg" alt="Checked Short Dress"></a>
                            <div class="sale-flash badge bg-secondary p-2">Out of Stock</div>
                            <div class="bg-overlay">
                                <div class="bg-overlay-content align-items-end justify-content-between not-animated" data-hover-animate="fadeIn" data-hover-speed="400" style="animation-duration: 400ms;">
                                    <a href="#" class="btn btn-dark me-2" title="Add to Cart"><i class="bi-bag-plus"></i></a>
                                    <a href="include/ajax/shop-item.html" class="btn btn-dark" data-lightbox="ajax" title="Quick View"><i class="bi-eye"></i></a>
                                </div>
                                <div class="bg-overlay-bg bg-transparent"></div>
                            </div>
                        </div>
                        <div class="product-desc">
                            <div class="product-title"><h3><a href="/product-single">Checked Short Dress</a></h3></div>
                            <div class="product-price"><del>$24.99</del> <ins>$12.49</ins></div>
                            <div class="product-rating">
                                <i class="bi-star-fill"></i>
                                <i class="bi-star-fill"></i>
                                <i class="bi-star-fill"></i>
                                <i class="bi-star-fill"></i>
                                <i class="bi-star-half"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="product col-md-4 col-sm-6 col-12">
                    <div class="grid-inner">
                        <div class="product-image">
                            <a href="#"><img src="images/shop/pants/1-1.jpg" alt="Slim Fit Chinos"></a>
                            <a href="#"><img src="images/shop/pants/1.jpg" alt="Slim Fit Chinos"></a>
                            <div class="bg-overlay">
                                <div class="bg-overlay-content align-items-end justify-content-between animated fadeOut" data-hover-animate="fadeIn" data-hover-speed="400" style="animation-duration: 400ms;">
                                    <a href="#" class="btn btn-dark me-2" title="Add to Cart"><i class="bi-bag-plus"></i></a>
                                    <a href="include/ajax/shop-item.html" class="btn btn-dark" data-lightbox="ajax" title="Quick View"><i class="bi-eye"></i></a>
                                </div>
                                <div class="bg-overlay-bg bg-transparent"></div>
                            </div>
                        </div>
                        <div class="product-desc">
                            <div class="product-title"><h3><a href="/product-single">Slim Fit Chinos</a></h3></div>
                            <div class="product-price">$39.99</div>
                            <div class="product-rating">
                                <i class="bi-star-fill"></i>
                                <i class="bi-star-fill"></i>
                                <i class="bi-star-fill"></i>
                                <i class="bi-star-half"></i>
                                <i class="bi-star"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="product col-md-4 col-sm-6 col-12">
                    <div class="grid-inner">
                        <div class="product-image">
                            <div class="fslider" data-arrows="false">
                                <div class="flexslider">
                                    
                                <div class="flex-viewport" style="overflow: hidden; position: relative; height: 282.344px;"><div class="slider-wrap" style="width: 1000%; transition-duration: 0s; transform: translate3d(-636px, 0px, 0px);"><div class="slide clone" aria-hidden="true" style="width: 212px; margin-right: 0px; float: left; display: block;"><a href="#"><img src="images/shop/shoes/1-2.jpg" alt="Dark Brown Boots" draggable="false"></a></div>
                                        <div class="slide" style="width: 212px; margin-right: 0px; float: left; display: block;" data-thumb-alt=""><a href="#"><img src="images/shop/shoes/1.jpg" alt="Dark Brown Boots" draggable="false"></a></div>
                                        <div class="slide" data-thumb-alt="" style="width: 212px; margin-right: 0px; float: left; display: block;"><a href="#"><img src="images/shop/shoes/1-1.jpg" alt="Dark Brown Boots" draggable="false"></a></div>
                                        <div class="slide flex-active-slide" data-thumb-alt="" style="width: 212px; margin-right: 0px; float: left; display: block;"><a href="#"><img src="images/shop/shoes/1-2.jpg" alt="Dark Brown Boots" draggable="false"></a></div>
                                    <div class="slide clone" style="width: 212px; margin-right: 0px; float: left; display: block;" aria-hidden="true"><a href="#"><img src="images/shop/shoes/1.jpg" alt="Dark Brown Boots" draggable="false"></a></div></div></div><ol class="flex-control-nav flex-control-paging"><li><a href="#" class="">1</a></li><li><a href="#" class="">2</a></li><li><a href="#" class="flex-active">3</a></li></ol></div>
                            </div>
                            <div class="bg-overlay">
                                <div class="bg-overlay-content align-items-end justify-content-between animated fadeOut" data-hover-animate="fadeIn" data-hover-speed="400" style="animation-duration: 400ms;">
                                    <a href="#" class="btn btn-dark me-2" title="Add to Cart"><i class="bi-bag-plus"></i></a>
                                    <a href="include/ajax/shop-item.html" class="btn btn-dark" data-lightbox="ajax" title="Quick View"><i class="bi-eye"></i></a>
                                </div>
                                <div class="bg-overlay-bg bg-transparent"></div>
                            </div>
                        </div>
                        <div class="product-desc">
                            <div class="product-title"><h3><a href="#">Dark Brown Boots</a></h3></div>
                            <div class="product-price">$49</div>
                            <div class="product-rating">
                                <i class="bi-star-fill"></i>
                                <i class="bi-star-fill"></i>
                                <i class="bi-star-fill"></i>
                                <i class="bi-star"></i>
                                <i class="bi-star"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="product col-md-4 col-sm-6 col-12">
                    <div class="grid-inner">
                        <div class="product-image">
                            <a href="#"><img src="images/shop/dress/2.jpg" alt="Light Blue Denim Dress"></a>
                            <a href="#"><img src="images/shop/dress/2-2.jpg" alt="Light Blue Denim Dress"></a>
                            <div class="bg-overlay">
                                <div class="bg-overlay-content align-items-end justify-content-between not-animated" data-hover-animate="fadeIn" data-hover-speed="400" style="animation-duration: 400ms;">
                                    <a href="#" class="btn btn-dark me-2" title="Add to Cart"><i class="bi-bag-plus"></i></a>
                                    <a href="include/ajax/shop-item.html" class="btn btn-dark" data-lightbox="ajax" title="Quick View"><i class="bi-eye"></i></a>
                                </div>
                                <div class="bg-overlay-bg bg-transparent"></div>
                            </div>
                        </div>
                        <div class="product-desc">
                            <div class="product-title"><h3><a href="#">Light Blue Denim Dress</a></h3></div>
                            <div class="product-price">$19.95</div>
                            <div class="product-rating">
                                <i class="bi-star-fill"></i>
                                <i class="bi-star-fill"></i>
                                <i class="bi-star-fill"></i>
                                <i class="bi-star-fill"></i>
                                <i class="bi-star"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="product col-md-4 col-sm-6 col-12">
                    <div class="grid-inner">
                        <div class="product-image">
                            <a href="#"><img src="images/shop/sunglasses/1.jpg" alt="Unisex Sunglasses"></a>
                            <a href="#"><img src="images/shop/sunglasses/1-1.jpg" alt="Unisex Sunglasses"></a>
                            <div class="sale-flash badge bg-success p-2 text-uppercase">Sale!</div>
                            <div class="bg-overlay">
                                <div class="bg-overlay-content align-items-end justify-content-between not-animated" data-hover-animate="fadeIn" data-hover-speed="400" style="animation-duration: 400ms;">
                                    <a href="#" class="btn btn-dark me-2" title="Add to Cart"><i class="bi-bag-plus"></i></a>
                                    <a href="include/ajax/shop-item.html" class="btn btn-dark" data-lightbox="ajax" title="Quick View"><i class="bi-eye"></i></a>
                                </div>
                                <div class="bg-overlay-bg bg-transparent"></div>
                            </div>
                        </div>
                        <div class="product-desc">
                            <div class="product-title"><h3><a href="#">Unisex Sunglasses</a></h3></div>
                            <div class="product-price"><del>$19.99</del> <ins>$11.99</ins></div>
                            <div class="product-rating">
                                <i class="bi-star-fill"></i>
                                <i class="bi-star-fill"></i>
                                <i class="bi-star-fill"></i>
                                <i class="bi-star"></i>
                                <i class="bi-star"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="product col-md-4 col-sm-6 col-12">
                    <div class="grid-inner">
                        <div class="product-image">
                            <a href="#"><img src="images/shop/tshirts/1.jpg" alt="Blue Round-Neck Tshirt"></a>
                            <a href="#"><img src="images/shop/tshirts/1-1.jpg" alt="Blue Round-Neck Tshirt"></a>
                            <div class="bg-overlay">
                                <div class="bg-overlay-content align-items-end justify-content-between not-animated" data-hover-animate="fadeIn" data-hover-speed="400" style="animation-duration: 400ms;">
                                    <a href="#" class="btn btn-dark me-2" title="Add to Cart"><i class="bi-bag-plus"></i></a>
                                    <a href="include/ajax/shop-item.html" class="btn btn-dark" data-lightbox="ajax" title="Quick View"><i class="bi-eye"></i></a>
                                </div>
                                <div class="bg-overlay-bg bg-transparent"></div>
                            </div>
                        </div>
                        <div class="product-desc">
                            <div class="product-title"><h3><a href="#">Blue Round-Neck Tshirt</a></h3></div>
                            <div class="product-price">$9.99</div>
                            <div class="product-rating">
                                <i class="bi-star-fill"></i>
                                <i class="bi-star-fill"></i>
                                <i class="bi-star-fill"></i>
                                <i class="bi-star-half"></i>
                                <i class="bi-star"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="product col-md-4 col-sm-6 col-12">
                    <div class="grid-inner">
                        <div class="product-image">
                            <a href="#"><img src="images/shop/watches/1.jpg" alt="Silver Chrome Watch"></a>
                            <a href="#"><img src="images/shop/watches/1-1.jpg" alt="Silver Chrome Watch"></a>
                            <div class="bg-overlay">
                                <div class="bg-overlay-content align-items-end justify-content-between not-animated" data-hover-animate="fadeIn" data-hover-speed="400" style="animation-duration: 400ms;">
                                    <a href="#" class="btn btn-dark me-2" title="Add to Cart"><i class="bi-bag-plus"></i></a>
                                    <a href="include/ajax/shop-item.html" class="btn btn-dark" data-lightbox="ajax" title="Quick View"><i class="bi-eye"></i></a>
                                </div>
                                <div class="bg-overlay-bg bg-transparent"></div>
                            </div>
                        </div>
                        <div class="product-desc">
                            <div class="product-title"><h3><a href="#">Silver Chrome Watch</a></h3></div>
                            <div class="product-price">$129.99</div>
                            <div class="product-rating">
                                <i class="bi-star-fill"></i>
                                <i class="bi-star-fill"></i>
                                <i class="bi-star-fill"></i>
                                <i class="bi-star-fill"></i>
                                <i class="bi-star-half"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="product col-md-4 col-sm-6 col-12">
                    <div class="grid-inner">
                        <div class="product-image">
                            <a href="#"><img src="images/shop/shoes/2.jpg" alt="Men Grey Casual Shoes"></a>
                            <a href="#"><img src="images/shop/shoes/2-1.jpg" alt="Men Grey Casual Shoes"></a>
                            <div class="sale-flash badge bg-success p-2 text-uppercase">Sale!</div>
                            <div class="bg-overlay">
                                <div class="bg-overlay-content align-items-end justify-content-between not-animated" data-hover-animate="fadeIn" data-hover-speed="400" style="animation-duration: 400ms;">
                                    <a href="#" class="btn btn-dark me-2" title="Add to Cart"><i class="bi-bag-plus"></i></a>
                                    <a href="include/ajax/shop-item.html" class="btn btn-dark" data-lightbox="ajax" title="Quick View"><i class="bi-eye"></i></a>
                                </div>
                                <div class="bg-overlay-bg bg-transparent"></div>
                            </div>
                        </div>
                        <div class="product-desc">
                            <div class="product-title"><h3><a href="#">Men Grey Casual Shoes</a></h3></div>
                            <div class="product-price"><del>$45.99</del> <ins>$39.49</ins></div>
                            <div class="product-rating">
                                <i class="bi-star-fill"></i>
                                <i class="bi-star-fill"></i>
                                <i class="bi-star-half"></i>
                                <i class="bi-star"></i>
                                <i class="bi-star"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="product col-md-4 col-sm-6 col-12">
                    <div class="grid-inner">
                        <div class="product-image">
                            <div class="fslider" data-arrows="false">
                                <div class="flexslider">
                                    
                                <div class="flex-viewport" style="overflow: hidden; position: relative; height: 282.656px;"><div class="slider-wrap" style="width: 1000%; transition-duration: 0s; transform: translate3d(-636px, 0px, 0px);"><div class="slide clone" aria-hidden="true" style="width: 212px; margin-right: 0px; float: left; display: block;"><a href="#"><img src="images/shop/dress/3-2.jpg" alt="Pink Printed Dress" draggable="false"></a></div>
                                        <div class="slide" style="width: 212px; margin-right: 0px; float: left; display: block;" data-thumb-alt=""><a href="#"><img src="images/shop/dress/3.jpg" alt="Pink Printed Dress" draggable="false"></a></div>
                                        <div class="slide" data-thumb-alt="" style="width: 212px; margin-right: 0px; float: left; display: block;"><a href="#"><img src="images/shop/dress/3-1.jpg" alt="Pink Printed Dress" draggable="false"></a></div>
                                        <div class="slide flex-active-slide" data-thumb-alt="" style="width: 212px; margin-right: 0px; float: left; display: block;"><a href="#"><img src="images/shop/dress/3-2.jpg" alt="Pink Printed Dress" draggable="false"></a></div>
                                    <div class="slide clone" style="width: 212px; margin-right: 0px; float: left; display: block;" aria-hidden="true"><a href="#"><img src="images/shop/dress/3.jpg" alt="Pink Printed Dress" draggable="false"></a></div></div></div><ol class="flex-control-nav flex-control-paging"><li><a href="#" class="">1</a></li><li><a href="#" class="">2</a></li><li><a href="#" class="flex-active">3</a></li></ol></div>
                            </div>
                            <div class="bg-overlay">
                                <div class="bg-overlay-content align-items-end justify-content-between not-animated" data-hover-animate="fadeIn" data-hover-speed="400" style="animation-duration: 400ms;">
                                    <a href="#" class="btn btn-dark me-2" title="Add to Cart"><i class="bi-bag-plus"></i></a>
                                    <a href="include/ajax/shop-item.html" class="btn btn-dark" data-lightbox="ajax" title="Quick View"><i class="bi-eye"></i></a>
                                </div>
                                <div class="bg-overlay-bg bg-transparent"></div>
                            </div>
                        </div>
                        <div class="product-desc">
                            <div class="product-title"><h3><a href="#">Pink Printed Dress</a></h3></div>
                            <div class="product-price">$39.49</div>
                            <div class="product-rating">
                                <i class="bi-star-fill"></i>
                                <i class="bi-star-fill"></i>
                                <i class="bi-star-fill"></i>
                                <i class="bi-star"></i>
                                <i class="bi-star"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="product col-md-4 col-sm-6 col-12">
                    <div class="grid-inner">
                        <div class="product-image">
                            <a href="#"><img src="images/shop/pants/5.jpg" alt="Green Trousers"></a>
                            <a href="#"><img src="images/shop/pants/5-1.jpg" alt="Green Trousers"></a>
                            <div class="sale-flash badge bg-success p-2 text-uppercase">Sale!</div>
                            <div class="bg-overlay">
                                <div class="bg-overlay-content align-items-end justify-content-between not-animated" data-hover-animate="fadeIn" data-hover-speed="400" style="animation-duration: 400ms;">
                                    <a href="#" class="btn btn-dark me-2" title="Add to Cart"><i class="bi-bag-plus"></i></a>
                                    <a href="include/ajax/shop-item.html" class="btn btn-dark" data-lightbox="ajax" title="Quick View"><i class="bi-eye"></i></a>
                                </div>
                                <div class="bg-overlay-bg bg-transparent"></div>
                            </div>
                        </div>
                        <div class="product-desc">
                            <div class="product-title"><h3><a href="#">Green Trousers</a></h3></div>
                            <div class="product-price"><del>$24.99</del> <ins>$21.99</ins></div>
                            <div class="product-rating">
                                <i class="bi-star-fill"></i>
                                <i class="bi-star-fill"></i>
                                <i class="bi-star-fill"></i>
                                <i class="bi-star-half"></i>
                                <i class="bi-star"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="product col-md-4 col-sm-6 col-12">
                    <div class="grid-inner">
                        <div class="product-image">
                            <a href="#"><img src="images/shop/sunglasses/2.jpg" alt="Men Aviator Sunglasses"></a>
                            <a href="#"><img src="images/shop/sunglasses/2-1.jpg" alt="Men Aviator Sunglasses"></a>
                            <div class="bg-overlay">
                                <div class="bg-overlay-content align-items-end justify-content-between not-animated" data-hover-animate="fadeIn" data-hover-speed="400" style="animation-duration: 400ms;">
                                    <a href="#" class="btn btn-dark me-2" title="Add to Cart"><i class="bi-bag-plus"></i></a>
                                    <a href="include/ajax/shop-item.html" class="btn btn-dark" data-lightbox="ajax" title="Quick View"><i class="bi-eye"></i></a>
                                </div>
                                <div class="bg-overlay-bg bg-transparent"></div>
                            </div>
                        </div>
                        <div class="product-desc">
                            <div class="product-title"><h3><a href="#">Men Aviator Sunglasses</a></h3></div>
                            <div class="product-price">$13.49</div>
                            <div class="product-rating">
                                <i class="bi-star-fill"></i>
                                <i class="bi-star-fill"></i>
                                <i class="bi-star-fill"></i>
                                <i class="bi-star-fill"></i>
                                <i class="bi-star"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="product col-md-4 col-sm-6 col-12">
                    <div class="grid-inner">
                        <div class="product-image">
                            <a href="#"><img src="images/shop/tshirts/4.jpg" alt="Black Polo Tshirt"></a>
                            <a href="#"><img src="images/shop/tshirts/4-1.jpg" alt="Black Polo Tshirt"></a>
                            <div class="bg-overlay">
                                <div class="bg-overlay-content align-items-end justify-content-between not-animated" data-hover-animate="fadeIn" data-hover-speed="400" style="animation-duration: 400ms;">
                                    <a href="#" class="btn btn-dark me-2" title="Add to Cart"><i class="bi-bag-plus"></i></a>
                                    <a href="include/ajax/shop-item.html" class="btn btn-dark" data-lightbox="ajax" title="Quick View"><i class="bi-eye"></i></a>
                                </div>
                                <div class="bg-overlay-bg bg-transparent"></div>
                            </div>
                        </div>
                        <div class="product-desc">
                            <div class="product-title"><h3><a href="#">Black Polo Tshirt</a></h3></div>
                            <div class="product-price">$11.49</div>
                            <div class="product-rating">
                                <i class="bi-star-fill"></i>
                                <i class="bi-star-fill"></i>
                                <i class="bi-star-fill"></i>
                                <i class="bi-star-fill"></i>
                                <i class="bi-star-fill"></i>
                            </div>
                        </div>
                    </div>
                </div>

            </div><!-- #shop end -->

        </div>
    </div>
</section>