<!-- Footer
		============================================= -->
		<footer id="footer" class="border-0" style="background-color: var(--cnvs-color-secondar);">
			<div class="container">

				<!-- Footer Widgets
				============================================= -->
				<div class="footer-widgets-wrap">

					<div class="row">

						<div class="col-lg-8">

							<div class="row w-100">
								<div class="col-lg-3 col-6">
									<ul class="widget_links widget-li-noicon mb-md-0">
										<h4 class="fw-normal">Recent Posts</h4>
										<li><a href="#">Home</a></li>
										<li><a href="#">About</a></li>
										<li><a href="#">FAQs</a></li>
										<li><a href="#">Support</a></li>
									</ul>
								</div>

								<div class="col-lg-3 col-6">
									<h4 class="fw-normal">Recent Posts</h4>
									<ul class="widget_links widget-li-noicon mb-md-0">
										<li><a href="#">Shop</a></li>
										<li><a href="#">Portfolio</a></li>
										<li><a href="#">Blog</a></li>
									</ul>
								</div>

								<div class="col-lg-3 col-6">
									<h4 class="fw-normal">Recent Posts</h4>
									<ul class="widget_links widget-li-noicon mb-md-0">
										<li><a href="#">Corporate</a></li>
										<li><a href="#">Agency</a></li>
										<li><a href="#">eCommerce</a></li>
									</ul>
								</div>

								<div class="col-lg-3 col-6">
									<h4 class="fw-normal">Recent Posts</h4>
									<ul class="widget_links widget-li-noicon mb-md-0">
										<li><a href="#">Corporate</a></li>
										<li><a href="#">Agency</a></li>
										<li><a href="#">eCommerce</a></li>
									</ul>
								</div>
							</div>

						</div>

						

					</div>

				</div><!-- .footer-widgets-wrap end -->

			</div>

			<!-- Copyrights
			============================================= -->
			<div id="copyrights" class="bg-white">
				<div class="container">

					<div class="row col-mb-30 align-items-center">

						<div class="col-md-6 text-center text-md-start text-black-50">
							Copyrights &copy; 2023 All Rights Reserved by Canvas Inc.<br>
							<div class="copyright-links text-black-50"><a href="#">Terms of Use</a> / <a href="#">Privacy Policy</a></div>
						</div>

						<div class="col-md-6 text-center text-md-end">
							<span class="op-05">Designed by</span> <a target="_blank" href="https://www.linkedin.com/in/mehmet-k%C3%B6m%C3%BCrc%C3%BC-b48a081b6/" style="color: black;">Mehmet Kömürcü</a>
						</div>

					</div>

				</div>
			</div><!-- #copyrights end -->
		</footer><!-- #footer end -->
